[MASTER]
ignore=venv, locustfile.py, tests/*, tests, tests/


[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100


# String used as indentation unit.
indent-string='    '  # 4 spaces